body{
  background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
  color:white;
  padding:30px;
  font-family:'Segoe UI';
}

.cart-container{
  max-width:600px;
  margin:auto;
  background:#0b041f;
  padding:20px;
  border-radius:20px;
}

.cartItem{
  display:flex;
  justify-content:space-between;
  padding:10px 0;
  border-bottom:1px solid #333;
}

.qtyBtn{
  padding:4px 10px;
  cursor:pointer;
}

.total{
  margin-top:20px;
  font-size:20px;
}

.clearBtn{
  margin-top:15px;
  width:100%;
  padding:12px;
  border:none;
  border-radius:30px;
  cursor:pointer;
}
