*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Segoe UI',sans-serif;
}

body{
  background:linear-gradient(130deg,#0f2027,#203a43,#2c5364);
  min-height:100vh;
  padding:30px;
  color:white;
}

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:18px 25px;
  background:rgba(255,255,255,0.12);
  border-radius:1rem;
  backdrop-filter:blur(20px);
  margin-bottom:30px;
}

.logo{
  font-size:25px;
  font-weight:bold;
}

a{
  color:white;
  text-decoration:none;
}

.products{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:25px;
}

.product{
  width:230px;
  padding:12px;
  background:#3a505a;
  border-radius:25px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  transition:0.3s;
}

.product:hover{
  transform:translateY(-10px);
}

.product img{
  width:100%;
  height:150px;
  object-fit:cover;
  border-radius:1rem;
}

.product h3{
  margin:12px 0 6px;
}

.product p{
  opacity:0.8;
}

.product button{
  margin-top:15px;
  padding:8px;
  border:none;
  border-radius:1rem;
  cursor:pointer;
}
